html {
    scroll-padding-top: 100px;  /* Adjust this value to match the height of your navbar */
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    overflow-x: hidden;
}

header {
    border-bottom: 0px solid #000000;
    height: 100px;
}

.container-fluid {
    background-color: rgb(38, 41, 49);
}

.navbar {
    background-color: green;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-brand img {
    height: 100px;
}

.nav-link {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

.nav-link:hover {
    color: rgb(254, 169, 56);
}

.btn-primary {
    background-color: rgb(254, 169, 56);
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-color: white;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: rgb(254, 169, 56) !important;
    color: rgb(255, 255, 255) !important;
    border-color: white;
}

#banner {
    height: 400px;
    background-color: #f8f9fa;
    margin-top: 100px;
}

footer {
    background-color: #222;
    color: #fff;
}

.btn {
    transition: transform 0.3s, background-color 0.3s;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #0056b3;
}

.swiper-container {
    background-color: rgb(252, 236, 154);
    position: relative;
}

.swiper-button-prev, .swiper-button-next {
    color: rgb(38, 41, 49);
}

.swiper-pagination-bullet {
    background-color: white;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center; /* Para garantir que a imagem fique centralizada verticalmente */
    max-height: 400px;
    width: 100%; /* Ou um valor fixo se necessário, por exemplo, 100% para garantir que ocupe toda a largura disponível */
}

.swiper-slide img {
    max-height: 400px;  /* Limita a altura da imagem a 400px */
    width: auto;        /* Mantém a largura proporcional à altura */
    object-fit: contain; /* Faz a imagem se ajustar sem cortar ou esticar */
}

#sobre {
    background-color: rgb(254, 169, 56);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

#sobre .container {
    text-align: center;
    margin-top: 20px;
}

#produtos {
    background-color: rgb(150, 177, 37);
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}

#produtos h2 {
    text-align: center;  /* Centraliza o texto */
    margin-top: 20px;    /* Ajusta a margem superior para dar um respiro */
    margin-bottom: 50px; /* Dá um pouco de espaço abaixo do título */
}


#produtos .card {
    max-width: 80%;
    margin: auto;
  }

.card-img-top {
    max-height: 80%;
    max-width: 80%;
    object-position: center;
    margin: 0 auto;
}

.card-body {
    background-color: rgb(252, 236, 154);  /* Um tom claro para o fundo */
}
  
.card-title {
    color: #2a9d8f;  /* Um verde suave */
}

.card {
    transition: all 0.3s ease-in-out;  /* Faz com que a animação seja suave */
}
  
.card:hover {
    transform: scale(1.1);  /* Aumenta o card 10% */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.6);  /* Aumenta a sombra */
}

#testemunhos {
    background-color: rgb(198, 199, 54);
    height: 600px;
    padding: 20px;
}

#testemunhos h2 {
    text-align: center;  /* Centraliza o texto */
    margin-top: 20px;    /* Ajusta a margem superior para dar um respiro */
    margin-bottom: 50px; /* Dá um pouco de espaço abaixo do título */
}

#testemunhos .card {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#testemunhos .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

#testemunhos .card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#testemunhos h5 {
    font-size: 1.1rem;
    font-weight: bold;
}

#testemunhos p {
    font-style: italic;
    color: #555;
}

#contato {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(69, 125, 0);
    height: 900px;
    padding: 40px 0 0 0;
}

#contato h2 {
    text-align: center; 
}

#contato input, #contato select, #contato textarea {
    width: 400px;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: auto;
}

footer p {
    margin: 0; /* Remover margens adicionais dos parágrafos */
    padding: 0; /* Remover qualquer padding adicional nos parágrafos */
}

footer a {
    text-decoration: none; /* Garantir que os links não tenham margens extras */
}

@media (max-width: 768px) {

.swiper-slide img {
    width: 100%;
    height: 300px;
}

.swiper-container {
    overflow: hidden;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-brand img {
    height: 80px;
}

.navbar-toggler {
    border-color: darkgrey;
}

.navbar-toggler-icon {
    background-color: darkgrey;
}

#banner {
    height: 100%;
    width: 100%;
    background-color: #f8f9fa;
    margin-top: 100px;
}

#sobre {
    padding: 10px;
}

.card {
      width: 100%; /* Cards ocupando a largura total em telas menores */
    }


#testemunhos {
    background-color: rgb(198, 199, 54);
    height: 1600px;
    padding: 20px;
}

#contato {
    height: 600px;
}

footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
}

footer p {
    margin: 0;
    padding: 0;
}

footer a {
    text-decoration: none;
}

#contato input, #contato select, #contato textarea {
    width: 300px;
}


}










/* Color pallete for the website: 
Color 1: Green           rgb(69, 125, 0)
Color 2: Green           rgb(198, 199, 54)
Color 3: Green           rgb(150, 177, 37)
Color 4: Orange          rgb(254, 169, 56)
Color 5: Pastel Orange   rgb(252, 236, 154)

Color 6: Dark gray       rgb(38, 41, 49)
*/